/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* 

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}

.left{ float: left; }
.right{ float: right; }
.center { text-align: center; }
.middle { vertical-align: middle; }
.cell { display: table-cell; }
.clear { clear:both; }
.invissible { visibility: none; }

.header {
	width: 100%;
	height: 100px;
	margin: 0px;
	font-size: 400%;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 100px;
	background-color: #0000ff;
}

.header img {
	margin: 18px;
}

.box {
	float: left;	
	width: 100%;
	height: 250px;
}

.randomiser {
	width: 150px;
	height: 150px;
	background-color: #00ff00;
	border: solid 3px #000000;
	margin: 47px auto;
	border-radius:5px;
}

#GameOver {
	width: 250px;
	height: 250px;
	background-color: #ffffff;
	border: solid 3px #000000;
	margin: 47px auto;
	border-radius:15px;
	font-size: 150%;
	font-weight: bold;
}

.message {
	width: 150px;
	line-height: 25px;
	text-align: center;
	text-size: 200%;
	font-weight: bold;
}

.content, .settings {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: url('../img/clouds.jpg') no-repeat left;
}

.card {
	width: 800px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background: url('../img/grass.jpg') no-repeat left;
	overflow: hidden;
	border: solid 3px #000000;
	border-radius:5px;
}

.newToken {
	float: left;
	margin: 5px;
	width: 136px;
	height: 136px;
	border: solid 2px #000000;
	background-color: #ffffff;
	border-radius:5px;
}

.place {
	float: left;
	margin: 5px;
	width: 86px;
	height: 86px;
	border: solid 2px #000000;
	background-color: #ffffff;	
	font-size: 250%;
	font-weight: bold;
	color: #000000;
	border-radius:5px;
	box-shadow: 5px 5px 2px #333333;
}

.emptyPlace {
	float: left;
	margin: 5px;
	width: 90px;
	height: 90px;
	border: 0px;	
}

.tokenBig {
	width: 136px;
	height: 136px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 800%;
	font-weight: bold;
	color: #000000;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.tokenSmall {
	width: 86px;
	height: 86px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 150%;
	font-weight: bold;
	color: #000000;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.full {}
.empty {}

.normal { background-color: #ccff66; }
.highlight { background-color: #ffffff; }
.faint { background-color: #ff9966; }

.copy{}
.noCopy{}

.box400 {
	width: 400px;
	margin: 0px auto;
}

.sliderBox {
	font-size: 200%;
}

.sliderLabel, .label {
	font-size: 250%;
	font-weight: bold;
}

.mySlider {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

.mySliderValue {
    float: left;
	font-size: 120%;;
	font-weight: bold;
    margin: 15px;
}

.mySliderLabel {
    float: left;
	font-size: 150%;
	font-weight: bold;
	margin: 15px;
}